<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Gambit - Portfolio / Photography HTML Template</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="img/favicon.png">
	<link rel="stylesheet" href="css/core.css">
	<link rel="stylesheet" href="css/theme.css">
</head>
<body>

	<!-- Preloader -->
	<div id="preloader"></div>

	<!-- Header -->
	<header id="header" class="header-transparent">

		<!-- Logo -->
		<a href="/" class="logo">
			<img src="img/logo-dark.png" class="logo-dark" alt="">
			<img src="img/logo-light.png" class="logo-light" alt="">
		</a>

		<!-- Navigation -->
		<nav>
			<ul>
				<li><a href="#home" class="home-link is-active">Home</a></li>
				<li><a href="#about" class="aside-link">About</a></li>
				<li><a href="#timeline" class="aside-link">timeline</a></li>
				<li><a href="#services" class="aside-link">Services</a></li>
				<li><a href="#contact" class="aside-link">Contact</a></li>
				<li>
					<a href="#">Pages</a>
					<ul>
						<li><a href="portfolio-single.html">portfolio single</a></li>
						<li><a href="portfolio-single-2.html">portfolio single 2</a></li>
						<li><a href="stories.html">stories</a></li>
						<li><a href="stories-single.html">stories single</a></li>
					</ul>
				</li>
				<li>
					<a href="#">Demos</a>
					<ul>
						<li><a href="index-slideshow.html">slideshow</a></li>
						<li><a href="index-classic-portfolio.html">classic portfolio</a></li>
						<li><a href="index-portfolio-carousel.html">portfolio carousel</a></li>
						<li><a href="index-horizontal-scrollbar.html">horizontal scrollbar</a></li>
						<li><a href="index-horizontal-filtered.html">horizontal filtered</a></li>
						<li><a href="index-image-background.html">image background</a></li>
						<li><a href="index-video-background.html">video background</a></li>
						<li><a href="index-split-slider.html">split slider</a></li>
						<li><a href="index-portfolio-3d.html">3D portfolio</a></li>
						<li><a href="index-portfolio-title.html">portfolio title</a></li>
						<li><a href="index-thumbnail-gallery.html">thumbnail gallery</a></li>
						<li><a href="index-horizontal-albums.html">horizontal albums</a></li>
						<li><a href="index-justified-filtered.html">justified filtered</a></li>
						<li><a href="index-portfolio-hero.html">portfolio hero</a></li>
						<li><a href="index-spaced-gallery.html">spaced gallery</a></li>
						<li><a href="index-fullscreen-justified.html">fullscreen justified</a></li>
						<li><a href="index-horizontal-gallery.html">horizontal gallery</a></li>
						<li><a href="index-fullscreen-carousel.html">fullscreen carousel</a></li>
						<li><a href="index-fullscreen-masonry.html">fullscreen masonry</a></li>
					</ul>
				</li>
			</ul>
		</nav>
		<!-- /Navigation -->

		<!-- Mobile Menu Button -->
		<div class="mob-menu-btn"></div>

		<!-- Close Aside Button -->
		<div class="close-aside-btn"></div>

	</header>
	<!-- /Header -->

	<!-- Aside Content -->
	<aside>
		<div class="background-overlay"></div>
		<div class="aside-inner">
	
			<!-- About -->
			<section id="about">
				
				<h1 class="capitalize mb-5">We are creative digital<br> design agency</h1>
				
				<!-- Slider -->
				<div class="swiper" data-autoplay="3000" data-effect="fade" data-loop="true" data-nav="true" data-pagination="true">
					<div class="swiper-slide">
						<img src="img/gallery/20.jpg" alt="">
					</div>
					<div class="swiper-slide">
						<img src="img/gallery/21.jpg" alt="">
					</div>
				</div>
				<!-- /Slider -->

				<div class="row pt-5">
					<div class="col-md">
						<p class="mb-0">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam fugiat culpa quibusdam voluptates eum repellendus
							nostrum laborum, ullam iure sunt voluptatem minima aut similique quia tenetur vel exercitationem est facere.</p>
					</div>
					<div class="col-md">
						<p class="mb-0">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam fugiat culpa quibusdam voluptates eum repellendus
							nostrum laborum, ullam iure sunt voluptatem minima aut similique quia tenetur vel exercitationem est facere.</p>
					</div>
				</div>
			</section>
			<!-- /About -->
	
			<!-- Timeline -->
			<section id="timeline">

				<h1>Timeline</h1>
				<p class="separator-left mb-6"></p>

				<div class="timeline">
					<div class="timeline-item">
						<div class="item-date">14 July, 2019</div>
						<h5>voluptatum perspiciatis libero nam laudantium</h5>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, possimus? Unde aperiam excepturi, sequi incidunt nesciunt, impedit repudiandae, architecto sit!</p>
					</div>
					<div class="timeline-item">
						<div class="item-date">14 July, 2019</div>
						<h5>voluptatum perspiciatis libero nam laudantium</h5>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, possimus? Unde aperiam excepturi, sequi incidunt nesciunt, impedit repudiandae, architecto sit!</p>
					</div>
					<div class="timeline-item">
						<div class="item-date">14 July, 2019</div>
						<h5>voluptatum perspiciatis libero nam laudantium</h5>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, possimus? Unde aperiam excepturi, sequi incidunt nesciunt, impedit repudiandae, architecto sit!</p>
					</div>
				</div>

			</section>
			<!-- /Timeline -->
	
			<!-- Services -->
			<section id="services">

				<h1>Services</h1>
				<p class="separator-left mb-6"></p>

				<div class="row">
					<div class="col-md">

						<div class="service-item">
							<img src="img/gallery/3.jpg" alt="">
							<div class="service-item-details">
								<h6>Branding</h6>
								<ul>
									<li><span>Voluptatum odit</span></li>
									<li><span>Consectetur adipisicing</span></li>
									<li><span>Porro dolore</span></li>
								</ul>
							</div>
						</div>

					</div>
					<div class="col-md">

						<div class="service-item">
							<img src="img/gallery/107.jpg" alt="">
							<div class="service-item-details">
								<h6>Photography</h6>
								<ul>
									<li><span>Voluptatum odit</span></li>
									<li><span>Consectetur adipisicing</span></li>
									<li><span>Porro dolore</span></li>
								</ul>
							</div>
						</div>

					</div>
				</div>
			</section>
			<!-- /Services -->
	
			<!-- Clients -->
			<section id="clients">
				<div class="swiper" data-slides-per-view="4" data-slides-mobile="3" data-autoplay="2700">
					<div class="swiper-slide">
						<img src="img/clients/1.png" alt="">
					</div>
					<div class="swiper-slide">
						<img src="img/clients/2.png" alt="">
					</div>
					<div class="swiper-slide">
						<img src="img/clients/3.png" alt="">
					</div>
					<div class="swiper-slide">
						<img src="img/clients/4.png" alt="">
					</div>
					<div class="swiper-slide">
						<img src="img/clients/5.png" alt="">
					</div>
					<div class="swiper-slide">
						<img src="img/clients/6.png" alt="">
					</div>
					<div class="swiper-slide">
						<img src="img/clients/7.png" alt="">
					</div>
					<div class="swiper-slide">
						<img src="img/clients/8.png" alt="">
					</div>
					<div class="swiper-slide">
						<img src="img/clients/9.png" alt="">
					</div>
					<div class="swiper-slide">
						<img src="img/clients/10.png" alt="">
					</div>
				</div>
			</section>
			<!-- /Clients -->
	
			<!-- Contact -->
			<section id="contact">

				<h1>Get In Touch</h1>
				<p class="separator-left mb-6"></p>
	
				<div class="contact-details-holder">
	
					<!-- map toggle button -->
					<div class="map-toggle-btn"></div>
	
					<!-- contact details -->
					<div class="contact-detail-boxes text-light">
	
						<div class="contact-detail-box">
							<i class="fa fa-phone"></i>
							<div>
								<p>+123 456 789 987</p>
							</div>
						</div>
	
						<div class="contact-detail-box">
							<i class="fa fa-map-marker"></i>
							<div>
								<p>BASED IN NEW YORK, USA</p>
							</div>
						</div>
	
						<div class="contact-detail-box">
							<i class="fa fa-envelope-o"></i>
							<div>
								<p>mailme @ example.com</p>
							</div>
						</div>
	
						<hr class="separator-left">

						<!-- Social Links -->
						<div class="social-links">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-instagram"></i></a>
							<a href="#"><i class="fa fa-linkedin"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
						</div>

					</div>
					<!-- /contact details -->
	
					<!-- google map -->
					<div class="google-map" 
						 data-api-key="" 
						 data-latitude="40.7323333" 
						 data-longitude="-74.0054748" 
						 data-zoom="13" 
						 data-marker="img/map-marker.png">
					</div>
	
				</div>
	
				<h1 class="mt-8">Say Hello</h1>
				<p class="separator-left mt-2 mb-6"></p>

				<!-- contact form -->
				<form class="mail-form" 
					  action="php/mail.php" 
					  data-mailto="where_to_send_email@example.com"
					  data-subject="Gambit Subject Line">
					<div class="row">
						<div class="col-md mb-3">
							<input type="text" placeholder="Name:">
						</div>
						<div class="col-md mb-3">
							<input type="text" placeholder="Email:">
						</div>
						<div class="col-12">
							<textarea name="" id="" rows="6" placeholder="Message..."></textarea>
						</div>
						<div class="col-12">
							<button type="submit" class="button style-2 mb-0">Send</button>
						</div>
					</div>
				</form>
				<!-- /contact form -->
	
				<!-- copyright -->
				<div class="">
					<p class="separator-left mt-8"></p>
					<small>&copy; AchtungThemes 2019</small>
				</div>
				
			</section>
			<!-- /Contact -->
	
		</div>
	</aside>
	<!-- /Aside Content -->

	<!-- Main Content -->
	<main>

		<!-- Masonry Portfolio -->
		<div class="masonry animate-items" data-columns="3" data-gutter="4">

			<figure class="portfolio-item project-item design">
				<div class="inner">
					<!-- Image -->
					<img src="img/folio/1.jpg" alt="">
					<!-- URL / Lightbox -->
					<a href="portfolio-single.html" class="item-link"></a>
					<!-- Caption -->
					<figcaption>
						<p>Project Page</p>
						<h2 class="item-title">Project Single</h2>
					</figcaption>
				</div>
			</figure>

			<figure class="portfolio-item image-item branding">
				<div class="inner">
					<!-- Image -->
					<img src="img/folio/2.jpg" alt="">
					<!-- URL / Lightbox -->
					<a href="img/folio/2.jpg" class="item-link" data-lightbox></a>
					<!-- Caption -->
					<figcaption>
						<p>Project Image</p>
						<h2 class="item-title">Image Lightbox</h2>
					</figcaption>
				</div>
			</figure>

			<figure class="portfolio-item video-item photography">
				<div class="inner">
					<!-- Image -->
					<img src="img/folio/14.jpg" alt="">
					<!-- URL / Lightbox -->
					<a href="https://www.youtube.com/watch?v=UXEbtqU_dHs" class="item-link" data-lightbox></a>
					<!-- Caption -->
					<figcaption>
						<p>Project YouTube</p>
						<h2 class="item-title">YouTube Lightbox</h2>
					</figcaption>
				</div>
			</figure>

			<figure class="portfolio-item gallery-item branding">
				<div class="inner">
					<!-- Image -->
					<img src="img/folio/6.jpg" alt="">
					<!-- URL / Lightbox -->
					<a href="img/folio/6.jpg" class="item-link" data-lightbox="my-project-2"
						data-thumbnail="img/folio/6.jpg"></a>
					<!-- Gallery Images -->
					<div class="item-gallery">
						<a href="img/folio/5.jpg" data-lightbox="my-project-2" data-thumbnail="img/folio/5.jpg"></a>
						<a href="img/folio/10.jpg" data-lightbox="my-project-2" data-thumbnail="img/folio/10.jpg"></a>
						<a href="img/folio/11.jpg" data-lightbox="my-project-2" data-thumbnail="img/folio/11.jpg"></a>
						<a href="img/folio/15.jpg" data-lightbox="my-project-2" data-thumbnail="img/folio/15.jpg"></a>
						<a href="img/folio/1.jpg" data-lightbox="my-project-2" data-thumbnail="img/folio/1.jpg"></a>
						<a href="img/folio/2.jpg" data-lightbox="my-project-2" data-thumbnail="img/folio/2.jpg"></a>
						<a href="img/folio/14.jpg" data-lightbox="my-project-2" data-thumbnail="img/folio/14.jpg"></a>
					</div>
					<!-- Caption -->
					<figcaption>
						<p>Project Gallery Thumbnails</p>
						<h2 class="item-title">Gallery Thumbnails</h2>
					</figcaption>
				</div>
			</figure>

			<figure class="portfolio-item video-item branding">
				<div class="inner">
					<!-- Image -->
					<img src="img/folio/7.jpg" alt="">
					<!-- URL / Lightbox -->
					<a href="https://vimeo.com/114651024" class="item-link" data-lightbox></a>
					<!-- Caption -->
					<figcaption>
						<p>Project Vimeo</p>
						<h2 class="item-title">Vimeo Lightbox</h2>
					</figcaption>
				</div>
			</figure>

			<figure class="portfolio-item gallery-item design">
				<div class="inner">
					<!-- Image -->
					<img src="img/folio/5.jpg" alt="">
					<!-- URL / Lightbox -->
					<a href="img/folio/5.jpg" class="item-link" data-lightbox="my-project-1"></a>
					<!-- Gallery Images -->
					<div class="item-gallery">
						<a href="img/folio/10.jpg" data-lightbox="my-project-1"></a>
						<a href="img/folio/11.jpg" data-lightbox="my-project-1"></a>
						<a href="img/folio/15.jpg" data-lightbox="my-project-1"></a>
						<a href="img/folio/1.jpg" data-lightbox="my-project-1"></a>
						<a href="img/folio/2.jpg" data-lightbox="my-project-1"></a>
						<a href="img/folio/14.jpg" data-lightbox="my-project-1"></a>
					</div>
					<!-- Caption -->
					<figcaption>
						<p>Project Gallery</p>
						<h2 class="item-title">Gallery Lightbox</h2>
					</figcaption>
				</div>
			</figure>

			<figure class="portfolio-item video-item photography">
				<div class="inner">
					<!-- Image -->
					<img src="img/folio/11.jpg" alt="">
					<!-- URL / Lightbox -->
					<a href="https://videos.ctfassets.net/ckso4uqg4vio/4iwMDvrbtow1TeC76SCxYX/f3f70cc201df38bcd65d43754cd469a5/ZWAK9812H_Only_Slightly_More_Exaggerated_90_HD_Web_YouTube.mp4" class="item-link" data-lightbox></a>
					<!-- Caption -->
					<figcaption>
						<p>Project Local Video</p>
						<h2 class="item-title">Local Video Lightbox</h2>
					</figcaption>
				</div>
			</figure>

			<figure class="portfolio-item project-item design">
				<div class="inner">
					<!-- Image -->
					<img src="img/folio/10.jpg" alt="">
					<!-- URL / Lightbox -->
					<a href="portfolio-single.html" class="item-link"></a>
					<!-- Caption -->
					<figcaption>
						<p>Project Page</p>
						<h2 class="item-title">Project Single</h2>
					</figcaption>
				</div>
			</figure>

			<figure class="portfolio-item image-item photography">
				<div class="inner">
					<!-- Image -->
					<img src="img/folio/15.jpg" alt="">
					<!-- URL / Lightbox -->
					<a href="img/folio/15.jpg" class="item-link" data-lightbox></a>
					<!-- Caption -->
					<figcaption>
						<p>Project Image</p>
						<h2 class="item-title">Image Lightbox</h2>
					</figcaption>
				</div>
			</figure>

		</div>
		<!-- /Masonry Portfolio -->

	</main>
	<!-- /Main Content -->

<!-- Footer -->
<footer class="page-footer">

	<!-- Social Links -->
	<div class="footer-social-links">
		<a href="#" class="color-facebook">Facebook</a>
		<a href="#" class="color-instagram">Instagram</a>
		<a href="#" class="color-linkedin">Linkedin</a>
		<a href="#" class="color-twitter">Twitter</a>
		<a href="#" class="color-youtube">Youtube</a>
	</div>

	<!-- Copyright -->
	<small class="mt-4">&copy; Copyright; AchtungThemes</small>

</footer>
<!-- /Footer -->

	<!-- JS -->
	<script src="js/core.js"></script>
	<script src="js/theme.js"></script>
</body>
</html>