<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Gambit - Portfolio / Photography HTML Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="img/favicon.png">
    <link rel="stylesheet" href="css/core.css">
    <link rel="stylesheet" href="css/theme.css">
</head>
<body>

    <!-- Preloader -->
    <div id="preloader"></div>

    <!-- Header -->
    <header id="header" class="header-transparent">

        <!-- Logo -->
        <a href="#" class="logo">
            <img src="img/logo-dark.png" class="logo-dark" alt="">
            <img src="img/logo-light.png" class="logo-light" alt="">
        </a>

        <!-- Navigation -->
        <nav>
            <ul>
                <li>
                    <a href="index-classic-portfolio.html">
                        <i class="fa fa-arrow-left mr-2"></i> Back To Portfolio
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /Navigation -->

        <!-- Mobile Menu Button -->
        <div class="mob-menu-btn"></div>

    </header>
    <!-- /Header -->

    <!-- Main Content -->
    <main>
        
        <!-- Hero Section -->
        <section class="text-light text-center background-parallax pt-8 pb-5" data-background="img/folio/1.jpg" data-overlay="black; .2">
            <div class="container pt-14 pb-15">
                <h1 class="uppercase" data-animation="fade-in-bottom .7s">Project Title</h1>
                <p class="serif" data-animation="fade-in-bottom 1s .1s">Project subtitle</p>
            </div>
        </section>
        <!-- /Hero Section -->
        
        <div class="container py-9 py-md-10">

            <!-- about -->
            <div class="row">
                <div class="col-md-6" data-animation="fade-in-bottom 1s .1s">
                    <h2 class="uppercase">About</h2>
                    <p class="separator-left"></p>
                </div>
                <div class="col-md-6" data-animation="fade-in-bottom 1s .2s">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque quae, totam mollitia sequi vero eum facilis harum rerum nobis, cum ut quaerat reprehenderit numquam quos, minus perspiciatis perferendis. Enim, perferendis.</p>
                    <p>Ea aspernatur debitis rerum repellat, optio corporis laborum. Enim ducimus, temporibus minus facilis. Quae ratione voluptatem porro voluptas tenetur vel.</p>
                </div>
            </div>
            <!-- /about -->
            
            <!-- details -->
            <div class="row mt-4">
                
                <div class="col-md-3" data-animation="fade-in-bottom 1s .2s">
                    <h6 class="uppercase mt-7 mb-4">Client</h6>
                    <p>Mercedes-Benz</p>
                </div>
                
                <div class="col-md-3" data-animation="fade-in-bottom 1s .3s">
                    <h6 class="uppercase mt-7 mb-4">Date</h6>
                    <p>25/03/2019</p>
                </div>
                
                <div class="col-md-3" data-animation="fade-in-bottom 1s .4s">
                    <h6 class="uppercase mt-7 mb-4">Services</h6>
                    <p>
                        <a href="#services" class="text-link aside-link">Web Design</a> /
                        <a href="#services" class="text-link aside-link">Illustration</a>
                    </p>
                </div>
                
                <div class="col-md-3" data-animation="fade-in-bottom 1s .5s">
                    <h6 class="uppercase mt-7 mb-4">Live</h6>
                    <p>
                        <a href="#" class="text-link">See Website</a>
                    </p>
                </div>
                
            </div>
            <!-- /details -->
            
        </div>
        
        <!-- Project Text -->
        <section class="split-section">
            <div class="row">

                <!-- Image -->
                <div class="col-md-6 lazy-load" data-background="img/folio/11.jpg"></div>

                <!-- Text -->
                <div class="col-md-6 text-light flex-center p-9" data-background="#222">
                    <div>
                        <h2>Adipisci expedita quo harum saepe voluptatum</h2>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia tenetur quibusdam libero? Modi repellendus perferendis commodi qui repudiandae vel porro aperiam animi, maiores error eius expedita asperiores sed quibusdam quos!</p>
                    </div>
                </div>

            </div>
        </section>
        <!-- /Project Text -->
        
        <div class="container  py-9 py-md-10">
            <h1 class="uppercase text-center">Gallery</h1>
            <p class="separator"></p>
            
            <!-- Gallery Grid -->
            <div class="grid masonry-grid mt-9" data-columns="3" data-gutter="2">
                <figure>
                    <a href="img/folio/1.jpg" class="lazy-load" data-background="img/folio/1.jpg" data-lightbox="gallery"></a>
                </figure>
                <figure>
                    <a href="img/folio/2.jpg" class="lazy-load" data-background="img/folio/2.jpg" data-lightbox="gallery"></a>
                </figure>
                <figure>
                    <a href="img/folio/14.jpg" class="lazy-load" data-background="img/folio/14.jpg" data-lightbox="gallery"></a>
                </figure>
                <figure>
                    <a href="img/folio/6.jpg" class="lazy-load" data-background="img/folio/6.jpg" data-lightbox="gallery"></a>
                </figure>
                <figure>
                    <a href="img/folio/7.jpg" class="lazy-load" data-background="img/folio/7.jpg" data-lightbox="gallery"></a>
                </figure>
                <figure>
                    <a href="img/folio/5.jpg" class="lazy-load" data-background="img/folio/5.jpg" data-lightbox="gallery"></a>
                </figure>
                <figure>
                    <a href="img/folio/11.jpg" class="lazy-load" data-background="img/folio/11.jpg" data-lightbox="gallery"></a>
                </figure>
                <figure>
                    <a href="img/folio/10.jpg" class="lazy-load" data-background="img/folio/10.jpg" data-lightbox="gallery"></a>
                </figure>
                <figure>
                    <a href="img/folio/15.jpg" class="lazy-load" data-background="img/folio/15.jpg" data-lightbox="gallery"></a>
                </figure>
            </div>
            <!-- /Gallery Grid -->

        </div>

        <!-- Page Navigation -->
        <div class="page-nav">
            <h6>See Next</h6>
            <h1>
                <a href="#">Modi repellendus perferendis</a>
            </h1>
        </div>
        <!-- /Page Navigation -->
        
    </main>
    <!-- /Main Content -->

<!-- Footer -->
<footer class="page-footer">

	<!-- Social Links -->
	<div class="footer-social-links">
		<a href="#" class="color-facebook">Facebook</a>
		<a href="#" class="color-instagram">Instagram</a>
		<a href="#" class="color-linkedin">Linkedin</a>
		<a href="#" class="color-twitter">Twitter</a>
		<a href="#" class="color-youtube">Youtube</a>
	</div>

	<!-- Copyright -->
	<small class="mt-4">&copy; Copyright; AchtungThemes</small>

</footer>
<!-- /Footer -->

	<!-- JS -->
	<script src="js/core.js"></script>
	<script src="js/theme.js"></script>
</body>
</html>