<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Gambit - Portfolio / Photography HTML Template</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="img/favicon.png">
	<link rel="stylesheet" href="css/core.css">
	<link rel="stylesheet" href="css/theme.css">
</head>
<body>

	<!-- Preloader -->
	<div id="preloader"></div>

	<!-- Header -->
	<header id="header">

		<!-- Logo -->
		<a href="#" class="logo">
			<img src="img/logo-dark.png" class="logo-dark" alt="">
			<img src="img/logo-light.png" class="logo-light" alt="">
		</a>

		<!-- Navigation -->
		<nav>
			<ul>
				<li>
					<a href="stories.html">
						<i class="fa fa-arrow-left mr-2"></i> Back To Stories
					</a>
				</li>
			</ul>
		</nav>
		<!-- /Navigation -->

		<!-- Mobile Menu Button -->
		<div class="mob-menu-btn"></div>

	</header>
	<!-- /Header -->

	<!-- Main Content -->
	<main>

		<div class="container pt-13 pb-11">

			<div class="row justify-content-center">
				<div class="col-lg-8 col-md-10">

					<!-- Blog Post Wrapper -->
					<article class="story">

						<!-- Details -->
						<div class="story-details">
							<h6 class="font-monospace uppercase opacity-04 mb-4">14 July, 2019 | Design</h6>
							<h2>Deleniti at architecto cupiditate similique perspiciatis</h2>
							<div class="img lazy-load" data-background="img/folio/3.jpg"></div>
						</div>
						<!-- /Details -->
		
						<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid ab ipsa blanditiis necessitatibus nobis laborum, reiciendis eos dicta. Modi quae est laudantium quam facilis officiis ipsam veritatis ipsum reprehenderit magnam.</p>
		
						<!-- Quote -->
						<blockquote>
							<h6>Whatever you can do or dream you can, begin it. Boldness has genius, power, and magic in it.</h6>
							<footer>-Johann Wolfgang von Goethe</footer>
						</blockquote>
		
						<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa et molestias rem quo cupiditate ad deleniti doloribus, unde, tempore doloremque ipsam est inventore facere totam. Laboriosam exercitationem consequatur voluptates? Sint!</p>
		
						<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa et molestias rem quo cupiditate ad deleniti doloribus, unde, tempore doloremque ipsam est inventore facere totam. Laboriosam exercitationem consequatur voluptates? Sint!</p>
		
						<!-- Gallery Grid -->
						<div class="grid masonry-grid" data-columns="3" data-gutter="2">
							<figure data-w="3" data-h="3">
								<a href="img/folio/14.jpg" class="lazy-load" data-background="img/folio/14.jpg" data-lightbox="gallery"></a>
							</figure>
							<figure>
								<a href="img/folio/7.jpg" class="lazy-load" data-background="img/folio/7.jpg" data-lightbox="gallery"></a>
							</figure>
							<figure>
								<a href="img/folio/11.jpg" class="lazy-load" data-background="img/folio/11.jpg" data-lightbox="gallery"></a>
							</figure>
							<figure>
								<a href="img/folio/10.jpg" class="lazy-load" data-background="img/folio/10.jpg" data-lightbox="gallery"></a>
							</figure>
						</div>
						<!-- /Gallery Grid -->

					</article>
					<!-- /Blog Post Wrapper -->

				</div>
			</div>

		</div>

		<!-- Page Navigation -->
		<div class="page-nav">
			<h6>See Next</h6>
			<h1>
				<a href="#">Modi repellendus perferendis</a>
			</h1>
		</div>
		<!-- /Page Navigation -->

	</main>
	<!-- /Main Content -->

<!-- Footer -->
<footer class="page-footer">

	<!-- Social Links -->
	<div class="footer-social-links">
		<a href="#" class="color-facebook">Facebook</a>
		<a href="#" class="color-instagram">Instagram</a>
		<a href="#" class="color-linkedin">Linkedin</a>
		<a href="#" class="color-twitter">Twitter</a>
		<a href="#" class="color-youtube">Youtube</a>
	</div>

	<!-- Copyright -->
	<small class="mt-4">&copy; Copyright; AchtungThemes</small>

</footer>
<!-- /Footer -->

	<!-- JS -->
	<script src="js/core.js"></script>
	<script src="js/theme.js"></script>
</body>
</html>